In [195]:
import googlemaps
import pandas
from datetime import datetime
import shapely
import shapely.geometry as shp
import ast

In [196]:
gmaps = googlemaps.Client(key='AIzaSyDRq7DxJ-XCcNdcJMQf42r9WZh9lnueV-4')

In [197]:
res = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

In [199]:
latlon = res[0]['geometry']['location']
lat = latlon["lat"]
lng = latlon["lng"]
print("lat:{} lng:{}".format(lat,lng))

lat:37.42231 lng:-122.0846241

In [200]:
addr = res[0]['formatted_address']
addr

'1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA'

In [209]:
rev = gmaps.reverse_geocode((40.714224, -73.961452),result_type="street_address")
rev

[{'address_components': [{'long_name': '277',
    'short_name': '277',
    'types': ['street_number']},
   {'long_name': 'Bedford Avenue',
    'short_name': 'Bedford Ave',
    'types': ['route']},
   {'long_name': 'Williamsburg',
    'short_name': 'Williamsburg',
    'types': ['neighborhood', 'political']},
   {'long_name': 'Brooklyn',
    'short_name': 'Brooklyn',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'Kings County',
    'short_name': 'Kings County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'New York',
    'short_name': 'NY',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '11211', 'short_name': '11211', 'types': ['postal_code']}],
  'formatted_address': '277 Bedford Ave, Brooklyn, NY 11211, USA',
  'geometry': {'location': {'lat': 40.7142205, 'lng': -73.9612903},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 40.71556948029149,
     'lng': -73.95994131970849},
    'southwest': {'lat': 40.7128715197085, 'lng': -73.9626392802915}}},
  'place_id': 'ChIJd8BlQ2BZwokRAFUEcm_qrcA',
  'plus_code': {'compound_code': 'P27Q+MF New York, United States',
   'global_code': '87G8P27Q+MF'},
  'types': ['street_address']},
 {'address_components': [{'long_name': '279',
    'short_name': '279',
    'types': ['street_number']},
   {'long_name': 'Bedford Avenue',
    'short_name': 'Bedford Ave',
    'types': ['route']},
   {'long_name': 'Williamsburg',
    'short_name': 'Williamsburg',
    'types': ['neighborhood', 'political']},
   {'long_name': 'Brooklyn',
    'short_name': 'Brooklyn',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'Kings County',
    'short_name': 'Kings County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'New York',
    'short_name': 'NY',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '11211', 'short_name': '11211', 'types': ['postal_code']}],
  'formatted_address': '279 Bedford Ave, Brooklyn, NY 11211, USA',
  'geometry': {'location': {'lat': 40.7142545, 'lng': -73.9614527},
   'location_type': 'RANGE_INTERPOLATED',
   'viewport': {'northeast': {'lat': 40.7156034802915,
     'lng': -73.96010371970848},
    'southwest': {'lat': 40.7129055197085, 'lng': -73.9628016802915}}},
  'place_id': 'EigyNzkgQmVkZm9yZCBBdmUsIEJyb29rbHluLCBOWSAxMTIxMSwgVVNBIhsSGQoUChIJ8ThWRGBZwokR3E1zUisk3LUQlwI',
  'types': ['street_address']}]

In [202]:
addresses = [rev[i]['formatted_address'] for i in range(len(rev))]
addresses

['277 Bedford Ave, Brooklyn, NY 11211, USA',
 '279 Bedford Ave, Brooklyn, NY 11211, USA']

In [203]:
def geocode(addr_string):
    gmaps = googlemaps.Client(key='AIzaSyDRq7DxJ-XCcNdcJMQf42r9WZh9lnueV-4')
    res = gmaps.geocode(addr_string)
    latlng = res[0]['geometry']['location']
    lat = latlng["lat"]
    lng = latlng["lng"]
    addr = res[0]['formatted_address']
    return {'lat':lat,"lng":lng, "addr":addr}

In [204]:
addr = pandas.read_csv("data\\shiny_in\\business_data.csv")
addr

,Unnamed: 0,acct_no,dba,owner,sic_code,sic_desc,full_addr,st_no,st_name,even,zipcode,city,apn_sort,dist_parc_to_sales
0,0,62,AARON METALS COMPANY,"FORKASH, PAUL",5093001.0,Scrap And Waste Materials,"750 105TH AVE OAKLAND, CA 94603-3604",750,105TH AVE,True,94603,OAKLAND,045 526800300,0.000000
1,1,71,WEST CONSTRUCTION,"West, James",NaN,NaN,"2044 85TH AVE OAKLAND, CA 94621-1723",2044,85TH AVE,True,94621,OAKLAND,043 456901600,0.630615
2,2,81,FRIENDLY CAB COMPANY INC,"SINGH, BALJIT K",4121001.0,Taxicabs,"4849 E 12TH ST OAKLAND, CA 94601-5107",4849,E 12TH ST,False,94601,OAKLAND,034 225800700,0.000000
3,3,82,A B C TRUCKING,"AUSTIN, PAUL G",1771001.0,Concrete Work,"4301 E 12TH ST OAKLAND, CA 94601-4415",4301,E 12TH ST,False,94601,OAKLAND,034 226401600,15.676089
4,4,90,MCCLURE DOUGLAS C & SCOTT M O,"Mcclure, Douglas",6512001.0,Operators Of Nonresidential Buildings,"4445 JENSEN ST OAKLAND, CA 94601-3939",4445,JENSEN ST,False,94601,OAKLAND,034 229900101,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12494,12494,215255,RAZA PRODUCE & MEAT,"MOHAMMED, AHLAM M",5411001.0,Grocery Stores,"6225 INTERNATIONAL BLVD OAKLAND, CA 94621-3823",6225,INTERNATIONAL BLVD,False,94621,OAKLAND,041 388303802,18.268569
12495,12495,215258,GENESIS DISTILLATION LLC,"GONZALEZ, JOEL",5999001.0,"Miscellaneous Retail Stores, Not Elsewhere Cla...","7700 EDGEWATER DR 528 OAKLAND, CA 94621-3030",7700,EDGEWATER DR,True,94621,OAKLAND,042 443000114,12.939995
12496,12496,215262,MOLINA BELLA,"MOLINA, BELLA",6514001.0,Operators Of Dwellings Other Than Apartment Bu...,"1100 76TH AVE OAKLAND, CA 94621-2518",1100,76TH AVE,True,94621,OAKLAND,041 414202700,12.964264
12497,12497,215276,MDL HOUSE KEEPING & LANDS KEEPING,"MEJIA, MALRIA L",NaN,NaN,"6109 BROMLEY AVE OAKLAND, CA 94621-4121",6109,BROMLEY AVE,False,94621,OAKLAND,038 321501800,0.000000
12498,12498,215287,KWAK YOUNG LIVING TRUST,"KWAK, YOUNG I",NaN,NaN,"1934 83RD AVE OAKLAND, CA 94621-2245",1934,83RD AVE,True,94621,OAKLAND,043 456401500,6.665016

In [205]:
addr.columns

Index(['Unnamed: 0', 'acct_no', 'dba', 'owner', 'sic_code', 'sic_desc',
       'full_addr', 'st_no', 'st_name', 'even', 'zipcode', 'city', 'apn_sort',
       'dist_parc_to_sales'],
      dtype='object')

In [206]:
addr = addr[['full_addr', 'apn_sort']]
addr10 = addr[0:10]
addr10

                                    full_addr       apn_sort
0        750 105TH AVE OAKLAND, CA 94603-3604  045 526800300
1        2044 85TH AVE OAKLAND, CA 94621-1723  043 456901600
2       4849 E 12TH ST OAKLAND, CA 94601-5107  034 225800700
3       4301 E 12TH ST OAKLAND, CA 94601-4415  034 226401600
4       4445 JENSEN ST OAKLAND, CA 94601-3939  034 229900101
5        1009 90TH AVE OAKLAND, CA 94603-1249  042 427901301
6       1640 104TH AVE OAKLAND, CA 94603-3282  047 550902900
7  7825 SAN LEANDRO ST OAKLAND, CA 94621-2515  041 420900102
8        9828 KITTY LN OAKLAND, CA 94603-1070  044 502000365
9        410 PHELPS ST OAKLAND, CA 94603-1133  044 505002200

In [207]:
addr10["geo"] = [geocode(i) for i in addr10["full_addr"]]
addr10

C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,full_addr,apn_sort,geo
0,"750 105TH AVE OAKLAND, CA 94603-3604",045 526800300,"{'lat': 37.7337455, 'lng': -122.1766006, 'addr..."
1,"2044 85TH AVE OAKLAND, CA 94621-1723",043 456901600,"{'lat': 37.757059, 'lng': -122.1694385, 'addr'..."
2,"4849 E 12TH ST OAKLAND, CA 94601-5107",034 225800700,"{'lat': 37.7682215, 'lng': -122.2121313, 'addr..."
3,"4301 E 12TH ST OAKLAND, CA 94601-4415",034 226401600,"{'lat': 37.77115089999999, 'lng': -122.2158174..."
4,"4445 JENSEN ST OAKLAND, CA 94601-3939",034 229900101,"{'lat': 37.7653158, 'lng': -122.2196075, 'addr..."
5,"1009 90TH AVE OAKLAND, CA 94603-1249",042 427901301,"{'lat': 37.7470595, 'lng': -122.1807862, 'addr..."
6,"1640 104TH AVE OAKLAND, CA 94603-3282",047 550902900,"{'lat': 37.740683, 'lng': -122.1647817, 'addr'..."
7,"7825 SAN LEANDRO ST OAKLAND, CA 94621-2515",041 420900102,"{'lat': 37.7500422, 'lng': -122.1932069, 'addr..."
8,"9828 KITTY LN OAKLAND, CA 94603-1070",044 502000365,"{'lat': 37.7265801, 'lng': -122.1952243, 'addr..."
9,"410 PHELPS ST OAKLAND, CA 94603-1133",044 505002200,"{'lat': 37.7370597, 'lng': -122.1912559, 'addr..."

In [208]:
addr10['lat'] = [i['lat'] for i in addr10["geo"]]
addr10['lng'] = [i['lng'] for i in addr10["geo"]]
addr10['addr'] = [i['addr'] for i in addr10["geo"]]
addr10

C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,full_addr,apn_sort,geo,lat,lng,addr
0,"750 105TH AVE OAKLAND, CA 94603-3604",045 526800300,"{'lat': 37.7337455, 'lng': -122.1766006, 'addr...",37.733745,-122.176601,"750 105th Ave, Oakland, CA 94603, USA"
1,"2044 85TH AVE OAKLAND, CA 94621-1723",043 456901600,"{'lat': 37.757059, 'lng': -122.1694385, 'addr'...",37.757059,-122.169438,"2044 85th Ave, Oakland, CA 94621, USA"
2,"4849 E 12TH ST OAKLAND, CA 94601-5107",034 225800700,"{'lat': 37.7682215, 'lng': -122.2121313, 'addr...",37.768222,-122.212131,"4849 E 12th St, Oakland, CA 94601, USA"
3,"4301 E 12TH ST OAKLAND, CA 94601-4415",034 226401600,"{'lat': 37.77115089999999, 'lng': -122.2158174...",37.771151,-122.215817,"4301 E 12th St, Oakland, CA 94601, USA"
4,"4445 JENSEN ST OAKLAND, CA 94601-3939",034 229900101,"{'lat': 37.7653158, 'lng': -122.2196075, 'addr...",37.765316,-122.219607,"4445 Jensen St, Oakland, CA 94601, USA"
5,"1009 90TH AVE OAKLAND, CA 94603-1249",042 427901301,"{'lat': 37.7470595, 'lng': -122.1807862, 'addr...",37.747059,-122.180786,"1009 90th Ave, Oakland, CA 94603, USA"
6,"1640 104TH AVE OAKLAND, CA 94603-3282",047 550902900,"{'lat': 37.740683, 'lng': -122.1647817, 'addr'...",37.740683,-122.164782,"1640 104th Ave, Oakland, CA 94603, USA"
7,"7825 SAN LEANDRO ST OAKLAND, CA 94621-2515",041 420900102,"{'lat': 37.7500422, 'lng': -122.1932069, 'addr...",37.750042,-122.193207,"7825 San Leandro St, Oakland, CA 94621, USA"
8,"9828 KITTY LN OAKLAND, CA 94603-1070",044 502000365,"{'lat': 37.7265801, 'lng': -122.1952243, 'addr...",37.726580,-122.195224,"9828 Kitty Ln, Oakland, CA 94603, USA"
9,"410 PHELPS ST OAKLAND, CA 94603-1133",044 505002200,"{'lat': 37.7370597, 'lng': -122.1912559, 'addr...",37.737060,-122.191256,"410 Phelps St, Oakland, CA 94603, USA"

In [55]:
def df_geocode(csv_path):
    addr = pandas.read_csv("data\\shiny_in\\business_data.csv")
    addr = addr[['full_addr', 'apn_sort']]
    addr10 = addr[0:10]
    addr10["geo"] = [geocode(i) for i in addr10["full_addr"]]
    addr10['lat'] = [i['lat'] for i in addr10["geo"]]
    addr10['lng'] = [i['lng'] for i in addr10["geo"]]
    addr10['addr'] = [i['addr'] for i in addr10["geo"]]
    return addr10

In [56]:
geodf = df_geocode("data\\shiny_in\\business_data.csv")

C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
geodf

,full_addr,apn_sort,geo,lat,lng,addr
0,"750 105TH AVE OAKLAND, CA 94603-3604",045 526800300,"{'lat': 37.7337455, 'lng': -122.1766006, 'addr...",37.733745,-122.176601,"750 105th Ave, Oakland, CA 94603, USA"
1,"2044 85TH AVE OAKLAND, CA 94621-1723",043 456901600,"{'lat': 37.757059, 'lng': -122.1694385, 'addr'...",37.757059,-122.169438,"2044 85th Ave, Oakland, CA 94621, USA"
2,"4849 E 12TH ST OAKLAND, CA 94601-5107",034 225800700,"{'lat': 37.7682215, 'lng': -122.2121313, 'addr...",37.768222,-122.212131,"4849 E 12th St, Oakland, CA 94601, USA"
3,"4301 E 12TH ST OAKLAND, CA 94601-4415",034 226401600,"{'lat': 37.77115089999999, 'lng': -122.2158174...",37.771151,-122.215817,"4301 E 12th St, Oakland, CA 94601, USA"
4,"4445 JENSEN ST OAKLAND, CA 94601-3939",034 229900101,"{'lat': 37.7653158, 'lng': -122.2196075, 'addr...",37.765316,-122.219607,"4445 Jensen St, Oakland, CA 94601, USA"
5,"1009 90TH AVE OAKLAND, CA 94603-1249",042 427901301,"{'lat': 37.7470595, 'lng': -122.1807862, 'addr...",37.747059,-122.180786,"1009 90th Ave, Oakland, CA 94603, USA"
6,"1640 104TH AVE OAKLAND, CA 94603-3282",047 550902900,"{'lat': 37.740683, 'lng': -122.1647817, 'addr'...",37.740683,-122.164782,"1640 104th Ave, Oakland, CA 94603, USA"
7,"7825 SAN LEANDRO ST OAKLAND, CA 94621-2515",041 420900102,"{'lat': 37.7500422, 'lng': -122.1932069, 'addr...",37.750042,-122.193207,"7825 San Leandro St, Oakland, CA 94621, USA"
8,"9828 KITTY LN OAKLAND, CA 94603-1070",044 502000365,"{'lat': 37.7265801, 'lng': -122.1952243, 'addr...",37.726580,-122.195224,"9828 Kitty Ln, Oakland, CA 94603, USA"
9,"410 PHELPS ST OAKLAND, CA 94603-1133",044 505002200,"{'lat': 37.7370597, 'lng': -122.1912559, 'addr...",37.737060,-122.191256,"410 Phelps St, Oakland, CA 94603, USA"

In [6]:
##################################################
#POLYGONS
##################################################

In [58]:
poly = pandas.read_csv("data\\shiny_in\\parcel_zoning.csv")

In [59]:
poly = poly[["the_geom"]]

In [62]:
poly

                                              the_geom
0    {'type': 'MultiPolygon', 'coordinates': [[[[-1...
1    {'type': 'MultiPolygon', 'coordinates': [[[[-1...
2    {'type': 'MultiPolygon', 'coordinates': [[[[-1...
3    {'type': 'MultiPolygon', 'coordinates': [[[[-1...
4    {'type': 'MultiPolygon', 'coordinates': [[[[-1...
..                                                 ...
995  {'type': 'MultiPolygon', 'coordinates': [[[[-1...
996  {'type': 'MultiPolygon', 'coordinates': [[[[-1...
997  {'type': 'MultiPolygon', 'coordinates': [[[[-1...
998  {'type': 'MultiPolygon', 'coordinates': [[[[-1...
999  {'type': 'MultiPolygon', 'coordinates': [[[[-1...

[1000 rows x 1 columns]

In [92]:
#evaluate string into python dictionary
x=eval(poly['the_geom'][0])

In [64]:
#convert dictionary to shapely multipolygon
x = shp.shape(x)

In [65]:
#compute centroid coordinates
coords = list(x.centroid.coords)

In [66]:
coords

[(-122.28773486025682, 37.816696283096256)]

In [216]:
def centroidCoords(shapeString):
    x=ast.literal_eval(shapeString)
    #flipped order to achieve standard format of (lat,lng) 
    flippedCoords = list(shp.shape(x).centroid.coords)[0]
    return (flippedCoords[1],flippedCoords[0])

In [217]:
cleaned = poly[poly.isna()["the_geom"]==False]

In [218]:
cleaned

                                              the_geom
0    {'type': 'MultiPolygon', 'coordinates': [[[[-1...
1    {'type': 'MultiPolygon', 'coordinates': [[[[-1...
2    {'type': 'MultiPolygon', 'coordinates': [[[[-1...
3    {'type': 'MultiPolygon', 'coordinates': [[[[-1...
4    {'type': 'MultiPolygon', 'coordinates': [[[[-1...
..                                                 ...
995  {'type': 'MultiPolygon', 'coordinates': [[[[-1...
996  {'type': 'MultiPolygon', 'coordinates': [[[[-1...
997  {'type': 'MultiPolygon', 'coordinates': [[[[-1...
998  {'type': 'MultiPolygon', 'coordinates': [[[[-1...
999  {'type': 'MultiPolygon', 'coordinates': [[[[-1...

[992 rows x 1 columns]

In [219]:
centroids = [centroidCoords(i) for i in cleaned['the_geom']]

In [220]:
cleaned["centroids"] = centroids
cleaned

C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,the_geom,centroids
0,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.816696283096256, -122.28773486025682)"
1,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.80208929146703, -122.28331277567823)"
2,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.730031906229776, -122.1892493576412)"
3,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.73135955903771, -122.13114716621865)"
4,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.73163648892685, -122.1756897722274)"
...,...,...
995,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.77376245153254, -122.18438151183287)"
996,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.77267223723579, -122.18351320224113)"
997,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.77478371788555, -122.19328913026919)"
998,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.772327452024065, -122.19509591319331)"
999,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.77150077423684, -122.19121772971991)"

In [226]:
cleaned10 = cleaned[:10]

In [280]:
#input csv file path and name of column which contains the polygon data. 
def df_revgeocode(csv_path, col):
    poly = pandas.read_csv(csv_path)
    #only testing on first 10 rows to minimize api usage
    poly10 = poly[:10]
    poly10 = poly10[[col]]
    #remove rows without polygon data
    cleaned = poly10[poly10.isna()[col]==False]
    #compute centroid of each polygon
    centroids = [centroidCoords(i) for i in cleaned[col]]
    cleaned["centroids"] = centroids
    #reverse geocode to find matching addresses for centroid coordinates
    #some have multiple matching addresses for their coordinate => ouput as list
    cleaned["full_addrs"]=[gmaps.reverse_geocode(i,result_type="street_address") for i in cleaned["centroids"]]
    cleaned["formatted_addrs"] = [[j['formatted_address'] for j in i] for i in cleaned["full_addrs"]]
    return cleaned

In [279]:
x=df_revgeocode("data\\shiny_in\\parcel_zoning.csv", "the_geom")
x

,the_geom,centroids,full_addrs,formatted_addrs
0,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.816696283096256, -122.28773486025682)",[{'address_components': [{'long_name': '1300a'...,"[1300a W Grand Ave, Oakland, CA 94607, USA, 22..."
1,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.80208929146703, -122.28331277567823)","[{'address_components': [{'long_name': '499', ...","[499 Market St, Oakland, CA 94607, USA, 499 Ma..."
2,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.730031906229776, -122.1892493576412)","[{'address_components': [{'long_name': '9857',...","[9857 Hesket Rd, Oakland, CA 94603, USA, 9878 ..."
3,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.73135955903771, -122.13114716621865)","[{'address_components': [{'long_name': '1698',...","[1698 Estudillo Ave, San Leandro, CA 94577, US..."
4,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.73163648892685, -122.1756897722274)",[{'address_components': [{'long_name': '10922'...,"[10922 Edes Ave, Oakland, CA 94603, USA]"
5,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.728632868110694, -122.19612801416513)","[{'address_components': [{'long_name': '138', ...","[138 98th Ave, Oakland, CA 94603, USA, 148 98t..."
6,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.73256809688579, -122.17864769339882)",[{'address_components': [{'long_name': '10501'...,"[10501 Acalanes Dr, Oakland, CA 94603, USA, 56..."
7,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.73289345589321, -122.17121855804079)",[{'address_components': [{'long_name': '10962'...,"[10962 San Leandro St, Oakland, CA 94603, USA,..."
8,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.733147060679336, -122.17856208310226)","[{'address_components': [{'long_name': '591', ...","[591 105th Ave, Oakland, CA 94603, USA, 591 10..."
9,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...","(37.73444656254247, -122.13359807579121)","[{'address_components': [{'long_name': '3318',...","[3318 Revere Ave, Oakland, CA 94605, USA]"