In [1]:
#This notebook cleans and formats data from data.acgov.org and exports the csv

In [2]:
#This file includes the getAPN function which takes a string address as input and searches the acgov data for a matching parcel number.

In [3]:
import googlemaps
import pandas
import usaddress
from scourgify import normalize_address_record as norm
import zipcodes

In [17]:
APIkey = "Insert Your API key for the google geocoder"
#https://developers.google.com/maps/documentation/geocoding/start

In [18]:
gmaps = googlemaps.Client(key=APIkey)

In [5]:
##############################################################################
#https://data.acgov.org/datasets/86b6da3837a34f10b8493ea0d22f517a_0/data
##############################################################################

In [5]:
class StringConverter(dict):
    def __contains__(self, item):
        return True

    def __getitem__(self, item):
        return str

    def get(self, default=None):
        return str

In [11]:
address_points = pandas.read_csv("../data/acgov/ac_gov_address_points.csv", converters=StringConverter())
address_points = address_points[["X","Y", "ST_NUM","FEANME", "FEATYP", "CITY", "ZIPCODE", "AddressLookup", "APN"]]
address_points = address_points.rename(columns=
{
    "X":"lng",
    "Y":"lat",
    "ST_NUM":"num",
    "FEANME":"street",
    "FEATYP":"type",
    "CITY":"city",
    "ZIPCODE":"zip",
    "AddressLookup":"address"
})
address_points.head()

,lng,lat,num,street,type,city,zip,address,APN
0,-122.274696303430019,37.871972678572057,1806,BERKELEY,WY,BERKELEY,94703,1806 BERKELEY WY 6 BERKELEY 94703,057 206001200
1,-122.274696303430019,37.871972678572057,1810,BERKELEY,WY,BERKELEY,94703,1810 BERKELEY WY 9 BERKELEY 94703,057 206001200
2,-122.274696303430019,37.871972678572057,1806,BERKELEY,WY,BERKELEY,94703,1806 BERKELEY WY 12 BERKELEY 94703,057 206001200
3,-122.274696303430019,37.871972678572057,1806,BERKELEY,WY,BERKELEY,94703,1806 BERKELEY WY 11 BERKELEY 94703,057 206001200
4,-122.274696303430019,37.871972678572057,1810,BERKELEY,WY,BERKELEY,94703,1810 BERKELEY WY 10 BERKELEY 94703,057 206001200

In [21]:
#only want east oakland area
targetZips = ["94601", "94603", "94621"]
east_oakland_addr = address_points[[i in targetZips for i in address_points['zip']]]
len(east_oakland_addr)

27169

In [22]:
east_oakland_addr.reset_index(inplace=True)
east_oakland_addr.drop('index', axis=1, inplace=True)
east_oakland_addr.head()

C:\Users\Ryan\Anaconda3\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,lng,lat,num,street,type,city,zip,address,APN
0,-122.220341465325021,37.779664688415565,1638,35TH,AV,OAKLAND,94601,1638 35TH AV OAKLAND 94601,033 212901500
1,-122.220341465325021,37.779664688415565,1640,35TH,AV,OAKLAND,94601,1640 35TH AV OAKLAND 94601,033 212901500
2,-122.166158696817732,37.739277817553351,10500,14TH,ST,OAKLAND,94603,10500 E 14TH ST OAKLAND 94603,047 550904100
3,-122.166158696817732,37.739277817553351,10500,INTERNATIONAL,BL,OAKLAND,94603,10500 INTERNATIONAL BL OAKLAND 94603,047 550904100
4,-122.166041667895769,37.739334300044476,1428,105TH,AV,OAKLAND,94603,1428 105TH AV OAKLAND 94603,047 550904100

In [10]:
parcels = pandas.read_csv("../data/acgov/ac_gov_parcels.csv", converters=StringConverter())
parcels = parcels[['APN','APN_SORT', 'YearBuilt', 'SitusStreetNumber', 'SitusStreetName', 'SitusUnit', 'SitusCity', 'SitusZip', 'SitusAddress','MailingAddress']]
print(len(parcels))
parcels.head()

482377

,APN,APN_SORT,YearBuilt,SitusStreetNumber,SitusStreetName,SitusUnit,SitusCity,SitusZip,SitusAddress,MailingAddress
0,10-829-51,010 082909000,1974,500,VERNON ST,203,OAKLAND,94610,500 VERNON ST 203 OAKLAND 94610,500 VERNON ST 203 OAKLAND CA 94610
1,10-829-52,010 082909000,1974,500,VERNON ST,303,OAKLAND,94610,500 VERNON ST 303 OAKLAND 94610,43 QUAIL CT 205 WALNUT CREEK CA 94596
2,10-829-53,010 082909000,1974,500,VERNON ST,104,OAKLAND,94610,500 VERNON ST 104 OAKLAND 94610,500 VERNON ST 104 OAKLAND CA 94610
3,10-829-54,010 082909000,1974,500,VERNON ST,204,OAKLAND,94610,500 VERNON ST 204 OAKLAND 94610,362 SANTA CLARA AVE OAKLAND CA 94610
4,10-829-55,010 082909000,1974,500,VERNON ST,304,OAKLAND,94610,500 VERNON ST 304 OAKLAND 94610,1214 N WILLIAM ST JOLIET IL 60435

In [24]:
#only want east oakland area
targetZips = ["94601", "94603", "94621"]
east_oakland_parcels = parcels[[i in targetZips for i in parcels['SitusZip']]]
len(east_oakland_parcels)

26269

In [25]:
east_oakland_parcels.reset_index(inplace=True)
east_oakland_parcels.drop('index', axis=1, inplace=True)
east_oakland_parcels.head()

,APN,APN_SORT,YearBuilt,SitusStreetNumber,SitusStreetName,SitusUnit,SitusCity,SitusZip,SitusAddress,MailingAddress
0,14-1199-34,014 119903400,1983,55TH,ST,,OAKLAND,94621,55TH ST OAKLAND 94621,835 55TH ST OAKLAND CA 94608
1,19-98-5-6,019 009800506,0,2434,E 11TH ST,,OAKLAND,94601,2434 E 11TH ST OAKLAND 94601,PO BOX 7509 OAKLAND CA 94601
2,19-98-6,019 009800600,0,1134,MILLER AVE,,OAKLAND,94601,1134 MILLER AVE OAKLAND 94601,PO BOX 7509 OAKLAND CA 94601
3,19-98-5-5,019 009800505,1900,2424,E 11TH ST,,OAKLAND,94601,2424 E 11TH ST OAKLAND 94601,P.O. BOX 3999 BERKELEY CA 94703
4,19-98-5-4,019 009800504,1900,2430,E 11TH ST,,OAKLAND,94601,2430 E 11TH ST OAKLAND 94601,2430 E 11TH ST OAKLAND CA 94601

In [12]:
a#############################################################################

In [26]:
#takes zipcode as string input, returns name of city
def zipToCity(zipCode):
    return zipcodes.matching(zipCode)[0]["city"]

#takes address (as much as exists...hopefully enough) as string input, returns zipcode
def retrieveZip(address):
    res = gmaps.geocode(address)
    zipcode =  res[0]['address_components'][-1]['long_name']
    return zipcode

In [27]:
#usaddress.tag breaks up the address into components
    #some addresses have unusual elements (ex/ 'StreetNamePreDirectional' as in 10500 E 14th St)
    #if an address doesn't work, you might need to update this function which is brittle
    #a more robust option is the google geocoder to parse and normalize addresses, but $$$
#scourgify.norm converts the input into a standard format
def parse_and_norm(address, recursive=False):
    if recursive:
        print("Attempting to parse {} with google geocoder".format(address))
    try:
        parsed = usaddress.tag(address)[0]

        #AddressNumberPrefix
        AddressNumber = parsed['AddressNumber']
        #AddressNumberSuffix
        StreetNamePreDirectional = " " + parsed['StreetNamePreDirectional'] if 'StreetNamePreDirectional' in parsed else ""
        StreetName = parsed["StreetName"]
        StreetNamePostType = parsed['StreetNamePostType']
        OccupancyType = parsed['OccupancyType'] if 'OccupancyType' in parsed else "" #ex/Apt, Suite
        OccupancyIdentifier = parsed['OccupancyIdentifier'] if 'OccupancyIdentifier' in parsed else "" #ex/ #3
        PlaceName = parsed['PlaceName'] 
        ZipCode = parsed['ZipCode']

        #retrieve missing zip with google geocoder (this should be rarely needed)
        if len(ZipCode) < 5:
            print("Invalid Zip Code ({}) from {}".format(ZipCode,address))
            ZipCode = retrieveZip(address)
            
        #retrieve missing city name with zip
        if len(PlaceName) < 2:
            PlaceName = zipToCity(ZipCode)

        input = {
            'address_line_1': AddressNumber + StreetNamePreDirectional + " " + StreetName + " " + StreetNamePostType,
            'address_line_2': "",
            'city': PlaceName,
            'state': 'CA', #hardcoded
            'postal_code': ZipCode
        }

        normalized = norm(input)
        if (recursive):
            print("     ^ success")
        return normalized
    except:
        #if failed, try to use google geocoder api to clean address and recover missing fields
        if recursive==True:
            raise Exception("failed to parse and normalize address -- google geocoder failed too")
            return
        google_address = gmaps.geocode(address)[0]['formatted_address']
        return parse_and_norm(google_address, True)

In [28]:
#Parse and Normalize address column to prepare for lookup from scraped data
#input table and name of address column
#return list (index, address) of rows which could not be standardized
def standardize_address(tbl, col):
    tbl['line_1'] = ""
    tbl['line_2'] = ""
    tbl['city'] = ""
    tbl['state'] = ""
    tbl['postal'] = ""
    errors = []
    for i in range(len(tbl)):
        try:
            if (i%1000==0): print(i)
            normed = parse_and_norm(tbl.iloc[i][col])
            tbl.iloc[i]["line_1"]=normed['address_line_1']
            tbl.iloc[i]['line_2']=normed['address_line_2']
            tbl.iloc[i]['city']=normed['city']
            tbl.iloc[i]['state']=normed['state']
            tbl.iloc[i]['postal']=normed['postal_code']
        except Exception as e:
            #print(i)
            #print(repr(e))
            errors.append(i)
    print("Errors: " + str(len(errors)))
    failingAddresses = [(i,tbl.iloc[i][col]) for i in errors]
    return failingAddresses

In [29]:
standardize_address(east_oakland_addr, "address")

C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
Errors: 0

[]

In [30]:
#Warning: Following cell will use lots of API calls to google geocoder; run with caution

In [ ]:
#missingNumber = standardize_address(east_oakland_parcels, "SitusAddress")

In [177]:
missingNumber = [i[0] for i in missingNumber]

In [178]:
clean_eo_parcels = east_oakland_parcels.drop(east_oakland_parcels.index[noNumber])
len(clean_eo_parcels)

24541

In [17]:
fail = pandas.DataFrame(failingAddresses)
    fail.to_csv("failing.csv", index=False)

In [32]:
east_oakland_addr.to_csv("../data/processed_acgov/eo_addr.csv", index=False)
clean_eo_parcels.to_csv("../data/processed_acgov/eo_parcels.csv", index=False)

NameError: name 'clean_eo_parcels' is not defined

In [186]:
###################################################################################
# Use above data and functions to retrieve APNs from address strings
###################################################################################

In [33]:
eo_addr = pandas.read_csv("../data/processed_acgov/eo_addr.csv")
eo_parcels = pandas.read_csv("../data/processed_acgov/eo_parcels.csv")

In [37]:
#Retrieve APN From Address string
#returns series; address may have multiple parcels
def getAPN(address):
    normalized = parse_and_norm(address)
    line_1 = normalized['address_line_1']
    postal = normalized['postal_code']
    q1 = eo_addr.query("line_1==@line_1 and postal==@postal").drop_duplicates("APN")["APN"]
    q2 = eo_parcels.query("line_1==@line_1 and postal==@postal").drop_duplicates("APN_SORT")["APN_SORT"]
    #convert list to set and back to only return unique values (set keys must be unique)
    return list(set(q1.tolist() + q2.tolist()))

In [38]:
getAPN("1745 CHURCH ST, Oakland CA 94621")

['039 325101400']